@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman

@{
    ViewBag.Title = "DepartmanGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Departman Güncelleme</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="container-fluid">
        @Html.HiddenFor(x => x.DepartmanID)
        @Html.Label("Departman Adı")
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
        <br />
        @Html.Label("Departman Durumu")
        @Html.CheckBoxFor(x => x.DepartmanDurum, new { @class = "form-control" })
        <br />
        @*@Html.Label("Departman Durum")
            @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
            <br />*@
        <button class="btn btn-info">Kaydet</button>
    </div>
}

