@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/Web/dist/assets/demo/datatables-demo.js"></script>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Personel Tablosu</h1>


        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ürün</th>
                                <th>Personel</th>
                                <th>Tarih</th>
                                <th>Adet</th>
                                <th>Fiyat</th>
                                <th>Toplam</th>
                                <th>Cari</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Ürün</th>
                                <th>Personel</th>
                                <th>Tarih</th>
                                <th>Adet</th>
                                <th>Fiyat</th>
                                <th>Toplam</th>
                                <th>Cari</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.SatisHareketID</td>
                                <td>@item.Urun.UrunAd </td>
                                <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
                                <td>@item.Tarih</td>
                                <td>@item.Adet</td>
                                <td>@item.Fiyat</td>
                                <td>@item.Toplam</td>
                                <td>@item.Cari.CariAd @item.Cari.CariSoyad</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <button class="btn btn-primary" data-toggle="modal" data-target="#KayıtEt">Yeni Personel Ekle</button>
                <div class="modal fade" id="KayıtEt" tabindex="-1" role="dialog" aria-labelledby="">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                            </div>
                            <form method="post" action="/Personel/PersonelEkle">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>
                                            Personel Adı : <input type="text" name="PersonelAd" class="form-control" />
                                        </label>
                                        <label>
                                            Personel Soyad : <input type="text" name="PersonelSoyad" class="form-control" />
                                        </label>
                                        <label>
                                            Personel Görsel : <input type="text" name="PersonelGorsel" class="form-control" />
                                        </label>
                                        <label>
                                            Personel Departman : <input type="text" name="DepartmanId" class="form-control" list="browsers" />
                                        </label>
                                        @Html.Action("DepartmanListesi", "ParcalıGorunum")
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                    <button type="submit" class="btn btn-primary">Kayıt Et</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

